.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: .5em auto;
}

.counter-btn {
  background-color: orange;
  border-radius: .5em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.counter-btn:hover {
  background-color: rgb(255, 123, 0);
}